body { }
#container {margin: 0 auto; width:80%;}
#header {display: block; height: 30px;}
#header .menu {float: right;}
#topmenu {}
#content {}
#scene { text-align: center;}
#grid {margin: 0 auto; width:80%; overflow: hidden;} /* overflow: hidden;} */
#grid a {display:block; float: left; position: relative; text-align: left;}
#grid a img {position: absolute;}

#bottommenu {}
#footer {position: relative; text-align: center; margin: 20px auto; }

.menu {}
ul.menu {display: inline;}
ul.menu li {display: inline;} 
