* { margin:0; padding:0; }
body { }
fieldset {display: block; padding: 10px 2px;}
legend {font-size:1.2em;}
#container {margin: 0 auto; width:80%;}
#header {display: block; padding: 5px; height: 15px; background-color: #459E00;} /*height: 30px; */
#header .menu {float: right;}
#header h1 {color: white; font-style: normal; font-weight: bold; letter-spacing: -1px; line-height: 1.2em; text-shadow: 1px 1px 2px black; text-transform: none; font-size: 100%; float: left;}

#breadcrumb {padding: 1px}
#breadcrumb a {color: black; font-weight: bold; text-decoration: none; font-size: 0.9em;}
#breadcrumb a:hover {color: #459E00}

#topmenu {}
#content {}
#content td {padding: 4px 2px;}
#scene { text-align: center; margin: 0 auto;}
#grid {margin: 10px auto; width:80%; }
#grid a {display:block; float: left; }
#scene_data {padding: 10px; margin: 0 auto;}

#dialog_message, #dialog_delete {display: none;}
#dialog_message p {padding: 25px 0px; font-weight: bold; text-align: center; }
#dialog_message p.success { color: green;   }
#dialog_message p.error { color: red; }

#bottommenu {}
#footer {position: relative; text-align: center; margin: 20px auto; }

.action_description {border: solid 1px black; min-height: 10px; width: 400px; padding: 5px; margin: 10px 0px;}
.form_block {padding: 5px; float: left; min-width: 30%;}
.form_block p {padding: 2px;}

.add {float: right;}

.menu {}
ul.menu {display: inline;}
ul.menu li {display: inline; padding: 0 10px;} 
ul.menu li a {color: white;text-decoration: none;}
ul.menu li a:hover {color: black;}

a.button {padding: 2px 10px; margin: 5px 10px; text-decoration: none; }
a.button:hover  {background: none; background-color: green; color: white !important; border: black 1px solid;}
a.delete, a.cancel, .delete, .cancel  {color: red !important;}
.delete:hover, .cancel:hover {background: none; background-color:red !important; color: white !important;  border: black 1px solid;}
.cancel, .play, .save {float: right; margin: 10px;} 
input.save, .play, input.login {background: none !important; background-color: ForestGreen !important; color: white !important; }
input.save:hover, .play:hover, input.login:hover {background-color: DarkGreen !important; border: black 1px solid;}

fieldset.login {margin: 0 auto;  max-width: 600px; }
