body { }
#container {margin: 0 auto; width:80%;}
#header {display: block; height: 30px;}
#header .menu {float: right;}
#topmenu {}
#content {}
#scene { text-align: center; margin: 0 auto;}
#grid {margin: 10px auto; width:80%; } /* overflow: hidden;} */
#grid a {display:block; float: left; } /* border: solid 1px black; margin: -1px; */
#scene_data {padding: 10px; margin: 0 auto;}

#bottommenu {}
#footer {position: relative; text-align: center; margin: 20px auto; }

.event_description {border: solid 1px black; min-height: 10px; width: 400px; padding: 5px; margin: 10px 0px;}
.form_block {padding: 5px; float: left; min-width: 30%;}
.form_block p {padding: 2px;}

.menu {}
ul.menu {display: inline;}
ul.menu li {display: inline; padding: 0 10px;} 
