
* { margin:0; padding:0; list-style: none;}

body {}
#container {margin: 0 auto;  width:100%;}/* width:80%; */

#header {display: block; padding: 5px; height: 10px; background-color: #459E00;} /*height: 30px; */
#header .menu {float: right;}
#header h1 {color: white; font-style: normal; font-weight: bold; letter-spacing: -1px; position: relative; top: -5px; text-shadow: 1px 1px 2px black; text-transform: none; font-size: 100%; float: left;}
#header ul.menu li a {font-family: Arial,sans-serif; font-size: 15px; text-decoration: none; position: relative; top: -5px; }

#topmenu, #bottommenu {margin: 10px 0px; padding: 5px 0px;}
#topmenu {text-align: center; position: absolute; top: 20px; left: 0px;}
#bottommenu {position: relative; width: 100%; left: 0px; text-align: left;}
#leftcolumn, #rightcolumn {}
#content {margin: 0 auto;  width:100%;}
#content_layout {margin: 0 auto; width: 80%;} /* width: 100%;*/
#scene {text-align: center; width: auto; height: auto; }
#scene #loadingzone {position: absolute; top: 23px; left: 0px; height: 13px; width: 100%; margin: 0 auto; text-align: center; z-index: 100;} 
#scene.pointing #loadingzone {display:none;}
#scene.waiting #loadingzone {display:block;}

#description { margin: 0 auto; font-size: 1.1em;}
#description {display: block; overflow: auto; text-align: center; }
#description {position: absolute; left: 0px;  bottom: 0px; width: 100%;  height: auto; background-color: white; filter:alpha(opacity=70); opacity:0.7; z-index: 1;}

#message {display: block; position: absolute; top: 40%; height: inherit; max-height: 50%; width: 97%; padding: 10px; z-index: 100; margin: 0 auto; }
#message .container {display: block; position: relative; border: 2px black solid; min-height: 100%; height: 100%; max-height: 100%; overflow: auto; background-color: white; *filter:alpha(opacity=80); opacity:0.8;}
#message .container span {font-size: 1.1em; text-align: center; } 

#grid {position: relative; margin: 0 auto; width:80%; overflow: hidden; } 
#grid div form {position: absolute; z-index: 10;}
#grid div form input {position: absolute; width:auto; height:auto; z-index: 10;}
#grid a, #grid div {display:block; float: left; text-align: left; position: relative; z-index: 5; } 
#grid div {z-index: 6; } 

h1, h3{font-size: 100%;}
#stories, #story_info {width: 80%; margin: 0 auto;}
#stories table tr td {height: 80px; padding: 4px 2px;}
#stories a:hover {color: green;}
#story_info h1 {font-size: 1.5em;}
#options {padding: 10px;}


#footer {clear: both; position: relative; text-align: center; margin: 20px auto; font-size: .7em;}
#footer ul.menu li a {text-decoration: none; color: black; }
#footer ul.menu li a:hover {color: green}

#story_info {text-align: center;}

.menu {}
ul.menu {display: inline;}
ul.menu li {display: inline; padding: 0 10px;} 
ul.menu li a {color: white;}
ul.menu li a:hover {color: black;}

a.button {padding: 2px 10px; margin: 5px 10px; text-decoration: none; }
a.button:hover  {background: none; background-color: green; color: white !important; border: black 1px solid;}
a.delete, a.cancel  {color: red !important;}
a.delete:hover, a.cancel:hover {background: none; background-color: red; color: white !important; }

.save, .play{background: none !important; background-color: ForestGreen !important; color: white !important; padding: 10px; margin: 10px;}
.save:hover, .play{background-color: DarkGreen !important; border: black 1px solid;}
a.play {padding: 20px; margin: 20px;}

.waiting {cursor: wait;}
.pointing {cursor: pointer;}
